# Pandas Drop Drill

In this drill, you will get questions relating to the **pandas.drop()** function.

I find things stick more when you practice them. Feel free to use any dataset from the web you like and come back to this black template to practie as often as you like. 

By **James Robey**

### Imports

In [3]:
import pandas as pd

### pandas.drop() cheats

##### 3 main arguments

1. A singular string or list of strings representing the names of the columns or rows you wish to drop. (Note: When dropping rows, you specify the int index, not a string) 
2. **axis =** This means the axis to select what to drop from. Axis 0 is rows and axis 1 is columns.
3. **inpalce =** This means do you want the changes to affect the current dataframe or return a new dataframe where the changes have been made. By default it is set to False, meaning it will return a new dataframe.

### Get data

In [4]:
#example url given but you can put in what you like. 
url = 'https://www.pikminwiki.com/Piklopedia_(Pikmin_4)'

In [5]:
df = pd.read_html(url)

In [6]:
def search_desired_table_index(df):
    for index, table in enumerate(df): 
        print(f'INDEX: {index}')
        print('\n')
        print(df[index])

In [7]:
search_desired_table_index(df)

INDEX: 0


                                                   0
0  The following article or section is in need of...
INDEX: 1


       #  Icon                   Name                      Scientific name  \
0      1   NaN          Dwarf Bulborb         Pansarus pseudooculii russus
1      2   NaN   Albino Dwarf Bulborb    Oculus kageyamii larva (1st molt)
2      3   NaN                Bulborb              Oculus kageyamii russus
3      4   NaN          Jumbo Bulborb  Oculus kageyamii russus (polyploid)
4      5   NaN   Dwarf Orange Bulborb       Pansarus pseudooculii orangium
..   ...   ...                    ...                                  ...
120  121   NaN           Candypop Bud                       Flora expellus
121  122   NaN            Pellet Posy                        Amplus nutrio
122  123   NaN  Burgeoning Spiderwort             Pikflora baccae conditus
123  124   NaN            Glow Pikmin                Pikminidae supravelum
124  125   NaN              Lumiknoll                     Collux aeternium

          Family Active During Weight Max. carriers Sparklium value Seeds  \
0       Breadbug           day      3             6               3     3
1       Grub-Dog         night      3             6               3     3
2       Grub-Dog     day/night     10            20              10    10
3       Grub-Dog     day/night     20            40              15    15
4       Breadbug           day      3             6               3     3
..           ...           ...    ...           ...             ...   ...
120     Candypop           day      -             -             NaN     -
121  Pellet Weed           day   1-10          2-20             NaN  1-10
122  Pellet Weed           day      1             1             NaN     -
123          ???         night      1             -               -     -
124          ???         night      -             -               -     -

                                                 Notes
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
120                                                NaN
121                                                NaN
122  Must have collected 10 berries (1 Ultra-spicy ...
123                                                NaN
124                                                NaN

[125 rows x 11 columns]
INDEX: 2


                Language                  Name                Meaning
0               Japanese  生物図鑑? Seibutsu Zukan   Creature Field Guide
1  Chinese (traditional)   生物圖鑑 Shēngwù Tújiàn  Organism Picture Book
2   Chinese (simplified)   生物图鉴 Shēngwù Tújiàn  Organism Picture Book
3                  Dutch            Piklopedia                      -
4                 French            Piklopédie                      -
5                 German            Piklopädie                      -
6                Italian            Piklopedia                      -
7                 Korean  생물 도감 Saengmul Dogam  Organism Picture Book
8             Portuguese            Piklopédia                      -
9                Spanish            Piklopedia                      -

In [8]:

desired_table_index = 1

In [9]:
df = df[1]

In [10]:
df

,#,Icon,Name,Scientific name,Family,Active During,Weight,Max. carriers,Sparklium value,Seeds,Notes
0,1,NaN,Dwarf Bulborb,Pansarus pseudooculii russus,Breadbug,day,3,6,3,3,NaN
1,2,NaN,Albino Dwarf Bulborb,Oculus kageyamii larva (1st molt),Grub-Dog,night,3,6,3,3,NaN
2,3,NaN,Bulborb,Oculus kageyamii russus,Grub-Dog,day/night,10,20,10,10,NaN
3,4,NaN,Jumbo Bulborb,Oculus kageyamii russus (polyploid),Grub-Dog,day/night,20,40,15,15,NaN
4,5,NaN,Dwarf Orange Bulborb,Pansarus pseudooculii orangium,Breadbug,day,3,6,3,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...
120,121,NaN,Candypop Bud,Flora expellus,Candypop,day,-,-,NaN,-,NaN
121,122,NaN,Pellet Posy,Amplus nutrio,Pellet Weed,day,1-10,2-20,NaN,1-10,NaN
122,123,NaN,Burgeoning Spiderwort,Pikflora baccae conditus,Pellet Weed,day,1,1,NaN,-,Must have collected 10 berries (1 Ultra-spicy ...
123,124,NaN,Glow Pikmin,Pikminidae supravelum,???,night,1,-,-,-,NaN
124,125,NaN,Lumiknoll,Collux aeternium,???,night,-,-,-,-,NaN

### Exercise 1. Drop any column with results in a new df called 'exercise1'

In [12]:
exercise1

,#,Icon,Name,Scientific name,Family,Active During,Weight,Max. carriers,Sparklium value,Notes
0,1,NaN,Dwarf Bulborb,Pansarus pseudooculii russus,Breadbug,day,3,6,3,NaN
1,2,NaN,Albino Dwarf Bulborb,Oculus kageyamii larva (1st molt),Grub-Dog,night,3,6,3,NaN
2,3,NaN,Bulborb,Oculus kageyamii russus,Grub-Dog,day/night,10,20,10,NaN
3,4,NaN,Jumbo Bulborb,Oculus kageyamii russus (polyploid),Grub-Dog,day/night,20,40,15,NaN
4,5,NaN,Dwarf Orange Bulborb,Pansarus pseudooculii orangium,Breadbug,day,3,6,3,NaN
...,...,...,...,...,...,...,...,...,...,...
120,121,NaN,Candypop Bud,Flora expellus,Candypop,day,-,-,NaN,NaN
121,122,NaN,Pellet Posy,Amplus nutrio,Pellet Weed,day,1-10,2-20,NaN,NaN
122,123,NaN,Burgeoning Spiderwort,Pikflora baccae conditus,Pellet Weed,day,1,1,NaN,Must have collected 10 berries (1 Ultra-spicy ...
123,124,NaN,Glow Pikmin,Pikminidae supravelum,???,night,1,-,-,NaN
124,125,NaN,Lumiknoll,Collux aeternium,???,night,-,-,-,NaN

### Exercise 2. Drop any row with results in a new df called 'exercise2'

In [13]:
exercise2 = df.drop(1, axis = 0)

In [14]:
exercise2

,#,Icon,Name,Scientific name,Family,Active During,Weight,Max. carriers,Sparklium value,Seeds,Notes
0,1,NaN,Dwarf Bulborb,Pansarus pseudooculii russus,Breadbug,day,3,6,3,3,NaN
2,3,NaN,Bulborb,Oculus kageyamii russus,Grub-Dog,day/night,10,20,10,10,NaN
3,4,NaN,Jumbo Bulborb,Oculus kageyamii russus (polyploid),Grub-Dog,day/night,20,40,15,15,NaN
4,5,NaN,Dwarf Orange Bulborb,Pansarus pseudooculii orangium,Breadbug,day,3,6,3,3,NaN
5,6,NaN,Orange Bulborb,Oculus kageyamii orangium,Grub-Dog,day/night,10,20,12,12,NaN
...,...,...,...,...,...,...,...,...,...,...,...
120,121,NaN,Candypop Bud,Flora expellus,Candypop,day,-,-,NaN,-,NaN
121,122,NaN,Pellet Posy,Amplus nutrio,Pellet Weed,day,1-10,2-20,NaN,1-10,NaN
122,123,NaN,Burgeoning Spiderwort,Pikflora baccae conditus,Pellet Weed,day,1,1,NaN,-,Must have collected 10 berries (1 Ultra-spicy ...
123,124,NaN,Glow Pikmin,Pikminidae supravelum,???,night,1,-,-,-,NaN
124,125,NaN,Lumiknoll,Collux aeternium,???,night,-,-,-,-,NaN

### Exercise 3. Make a copy of your original dataframe with .copy() and store it as 'exercise3', then drop a column from this dataframe without creating another one.

In [17]:
exercise3

,#,Icon,Name,Scientific name,Family,Active During,Max. carriers,Sparklium value,Seeds,Notes
0,1,NaN,Dwarf Bulborb,Pansarus pseudooculii russus,Breadbug,day,6,3,3,NaN
1,2,NaN,Albino Dwarf Bulborb,Oculus kageyamii larva (1st molt),Grub-Dog,night,6,3,3,NaN
2,3,NaN,Bulborb,Oculus kageyamii russus,Grub-Dog,day/night,20,10,10,NaN
3,4,NaN,Jumbo Bulborb,Oculus kageyamii russus (polyploid),Grub-Dog,day/night,40,15,15,NaN
4,5,NaN,Dwarf Orange Bulborb,Pansarus pseudooculii orangium,Breadbug,day,6,3,3,NaN
...,...,...,...,...,...,...,...,...,...,...
120,121,NaN,Candypop Bud,Flora expellus,Candypop,day,-,NaN,-,NaN
121,122,NaN,Pellet Posy,Amplus nutrio,Pellet Weed,day,2-20,NaN,1-10,NaN
122,123,NaN,Burgeoning Spiderwort,Pikflora baccae conditus,Pellet Weed,day,1,NaN,-,Must have collected 10 berries (1 Ultra-spicy ...
123,124,NaN,Glow Pikmin,Pikminidae supravelum,???,night,-,-,-,NaN
124,125,NaN,Lumiknoll,Collux aeternium,???,night,-,-,-,NaN

### Exercise 4. Make a copy of your original dataframe with .copy() and store it as 'exercise4', then drop 3 columns from this dataframe without creating another one.

In [20]:
exercise4

,Icon,Scientific name,Family,Active During,Max. carriers,Sparklium value,Seeds,Notes
0,NaN,Pansarus pseudooculii russus,Breadbug,day,6,3,3,NaN
1,NaN,Oculus kageyamii larva (1st molt),Grub-Dog,night,6,3,3,NaN
2,NaN,Oculus kageyamii russus,Grub-Dog,day/night,20,10,10,NaN
3,NaN,Oculus kageyamii russus (polyploid),Grub-Dog,day/night,40,15,15,NaN
4,NaN,Pansarus pseudooculii orangium,Breadbug,day,6,3,3,NaN
...,...,...,...,...,...,...,...,...
120,NaN,Flora expellus,Candypop,day,-,NaN,-,NaN
121,NaN,Amplus nutrio,Pellet Weed,day,2-20,NaN,1-10,NaN
122,NaN,Pikflora baccae conditus,Pellet Weed,day,1,NaN,-,Must have collected 10 berries (1 Ultra-spicy ...
123,NaN,Pikminidae supravelum,???,night,-,-,-,NaN
124,NaN,Collux aeternium,???,night,-,-,-,NaN

 ### Exercise 5. Make a copy of your original dataframe with .copy() and store it as 'exercise5', then drop 3 rows from this dataframe without creating another one.

In [23]:
exercise5

,#,Icon,Name,Scientific name,Family,Active During,Weight,Max. carriers,Sparklium value,Seeds,Notes
0,1,NaN,Dwarf Bulborb,Pansarus pseudooculii russus,Breadbug,day,3,6,3,3,NaN
4,5,NaN,Dwarf Orange Bulborb,Pansarus pseudooculii orangium,Breadbug,day,3,6,3,3,NaN
5,6,NaN,Orange Bulborb,Oculus kageyamii orangium,Grub-Dog,day/night,10,20,12,12,NaN
6,7,NaN,Dwarf Bulbear,Oculus terribilis dotticum larva (2nd molt),Grub-Dog,day/night,3,6,3,4,NaN
7,8,NaN,Spotty Bulbear,Oculus terribilis dotticum,Grub-Dog,day/night,12,24,12,15,NaN
...,...,...,...,...,...,...,...,...,...,...,...
120,121,NaN,Candypop Bud,Flora expellus,Candypop,day,-,-,NaN,-,NaN
121,122,NaN,Pellet Posy,Amplus nutrio,Pellet Weed,day,1-10,2-20,NaN,1-10,NaN
122,123,NaN,Burgeoning Spiderwort,Pikflora baccae conditus,Pellet Weed,day,1,1,NaN,-,Must have collected 10 berries (1 Ultra-spicy ...
123,124,NaN,Glow Pikmin,Pikminidae supravelum,???,night,1,-,-,-,NaN
124,125,NaN,Lumiknoll,Collux aeternium,???,night,-,-,-,-,NaN

### Explore documentation

In [23]:
pd.DataFrame.drop?

Signature:
pd.DataFrame.drop(
    self,
    labels: 'IndexLabel | None' = None,
    *,
    axis: 'Axis' = 0,
    index: 'IndexLabel | None' = None,
    columns: 'IndexLabel | None' = None,
    level: 'Level | None' = None,
    inplace: 'bool' = False,
    errors: 'IgnoreRaise' = 'raise',
) -> 'DataFrame | None'
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by directly specifying index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level. See the :ref:`user guide <advanced.shown_levels>`
for more information about the now unused levels.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop. A tuple will be used as a single
    label and not treated as a list-like.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    in place and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    Returns DataFrame or None DataFrame with the specified
    index or column labels removed or None if inplace=True.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

Drop a specific index combination from the MultiIndex
DataFrame, i.e., drop the combination ``'falcon'`` and
``'weight'``, which deletes only the corresponding row

>>> df.drop(index=('falcon', 'weight'))
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
llama   speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
llama   speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      c:\users\arobe\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      function

### Sandbox: Have fun!

In [24]:
sandbox = df.copy()